<template>
  <div class="hello">
    <div class="search">
      <h1>Bienvenue sur mon site météo</h1>

      <div id="zrech" class="justify-content-center">
        <button v-on:click="rechercher">Rechercher</button>
        <label>
          <input
              v-model="ville"
              type="text"
              class="SearchInput"
          >
        </label>

      </div>
      <p>Résultat de votre recherche :{{info[coord].lon}}</p>
      <p>température : {{temp}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
