<template>
  <div class="search">
    <h1>Bienvenue sur mon site météo</h1>

   <div id="zrech" class="justify-content-center">
     <button v-on:click="rechercher">Rechercher</button>
      <label>
        <input
            v-model="ville"
            type="text"
            class="SearchInput"
        >
      </label>

    </div>
    <p>Résultat de votre recherche :{{info[coord].lon}}</p>
  <p>température : {{temp}}</p>
  </div>
</template>

<script>
const axios = require('axios');

export default {
  name: 'SearchTown',
  data() {
    return {
      info: null,
      ville:'',
      results: ' ',
      coords:' ',
      temp:' '
    }
  },
  mounted() {

  },
  methods: {
    rechercher: function () {
      // nomurl:`http://api.openweathermap.org/data/2.5/weather?q=`+$ville+`&appid=1940c8650d009eb6cf5e8f25498e01fe`
      axios
          .get(`http://api.openweathermap.org/data/2.5/weather?q=Lyon&appid=1940c8650d009eb6cf5e8f25498e01fe`)
          .then(response => (this.info = response.data))
      this.results = "info"
    }

  }

}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.SearchInput {
  width: 100%;
  padding: 1.5em 1em;
  font-size: 1em;
  outline: 0;
  border: 5px solid #41B883;
}
.Results {
  margin: 0;
  padding: 0;
  text-align: left;
  position: relative;
}
.Results li {
  background: rgba(53, 73, 94, 0.3);
  margin: 0;
  padding: 1em;
  list-style: none;
  width: 100%;
  border-bottom: 1px solid #394E62;
  transition: ease-in-out 0.5s;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: deepskyblue;
}
</style>
