<template>
  <div id="app">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <div class="search" style="background-color: gainsboro">
      <h1>Bienvenue sur mon site météo</h1>

      <div id="zrech" class="justify-content-center">
        <button v-on:click="rechercher">Rechercher</button>
        <label>
          <input
              v-model="ville"
              type="text"
              class="SearchInput"
          >
        </label>

      </div>
      <template v-if="rech" >

        <p>A {{ville}} le {{formatDate}}</p>

         <div id="icone">
           <p><img :src="initicone" alt="image icone temps"></p>

         </div>
        <p>{{info.weather[0].description}}</p>

<!--      <p>A {{ville}} le {{format(momentDateTz)}}</p>-->
         <p>Coordonnées: [{{info.coord.lat}}, {{info.coord.lon}} ] </p>
         <h3>températures</h3>
         <p> réelle: {{info.main.temp}} - ressentie: {{info.main.feels_like}}</p>
         <p>comprise entre {{info.main.temp_min}} et {{info.main.temp_max}} </p>

      </template>

    </div>

  </div>

</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import moment from 'moment'

const axios = require('axios');

/*const momentTz = require('moment-timezone')
const dateToDisplay = new Date()
const timeZone = 'France' // 'UTC+04:00'*/

// momentObject(2018-02-06T13:35:00+04:00)

// const momentDateTzUTC = momentTz.tz(dateToDisplay,'YYYY-MM-DD HH:mm',timeZone).utc()
// momentObject(2018-02-06T9:35:00+00:00)
export default {
  name: 'App',
  components: {
    HelloWorld,

  },

  data() {
    return {
      info: {},
      now: new Date(),
      ville: '',
      results: ' ',
      coords: [],
      temp: ' ',
      temp_min: ' ',
      temp_max: '',
      feels_like: '',
      lon: '',
      lat: '',
      timezone: ' ',
      date: '',
      description:' ',
      lang:'FR',
      country:'FR',
      momentDateTz: '',
      icone:'',
      rech:false

    }
  },
  mounted(){
    axios
        .get(`http://api.openweathermap.org/data/2.5/weather?q=Lyon&units=metric&appid=1940c8650d009eb6cf5e8f25498e01fe`)
        .then(response => {this.info = response.data,
            this.date = response.data.dt,
            this.icone = `<img src=http://openweathermap.org/img/wn/${response.data.weather[0].icon}@2x.png alt="icone temps>`})
  },
  computed:{
      formatDate(){
        let timestamp = this.date
        let date= new Date(timestamp * 1000)
        let pays = this.country
        return moment(date).local(pays).format("DD MM YYYY")
      },
   /* iconImage () {
      if (!this.icone) {
        return
      }

     return require(`http://openweathermap.org/img/wn/${this.icone}@2x.png`) // the module request
    },*/

    initicone(){
      let url = `http://openweathermap.org/img/wn/${this.icone}@2x.png`
      return url
    }
    },


  methods: {
    affichericone: function () {
      // nomurl:`http://api.openweathermap.org/data/2.5/weather?q=`+${ville}`&appid=1940c8650d009eb6cf5e8f25498e01fe`
      axios
          .get(`http://openweathermap.org/img/wn/${this.icone}@2x.png`)
          .then(response => {console.log(this.icone),
            this.icon = response.data
          })
    },

   rechercher: function () {
 // nomurl:`http://api.openweathermap.org/data/2.5/weather?q=`+${ville}`&appid=1940c8650d009eb6cf5e8f25498e01fe`
 axios
     .get(`http://api.openweathermap.org/data/2.5/weather?q=${this.ville}&units=metric&lang=${this.lang}&appid=1940c8650d009eb6cf5e8f25498e01fe`)
     .then(response => { this.rech=true,this.info = response.data,
         this.date = response.data.dt,
         this.icone = response.data.weather[0].icon,
         console.log(response.weather[0].icon)})
   },

}
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  margin-top: 60px;
}
</style>
